.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px 50px;
  border-top: 1px solid #e4e4e4;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #44464a;
}

.nav__notification {
  position: absolute;
  left: 20px;
  top: -20px;
}

.nav__something {
  color: tomato;
  font-weight: 800;
  font-size: 30px;
  display: flex;
  position: absolute;
  left: 30px;
  bottom: 20px;
}
