.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 700;
}

.screen-header__icons span {
  margin-left: 20px;
}
.screen-header__icons span:last-child {
  position: relative;
}

.header__something {
  color: tomato;
  font-weight: 800;
  font-size: 30px;
  display: flex;
  position: absolute;
  left: 1px;
  bottom: 18px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
